ion-button[color="dark"]{
    text-transform: initial;
}

ion-content{
    --background: var(); //pengaturan warna background
}

.center-text {
    text-align: center;
    display: block;
    margin-top: px;

  }

  .title {
    font-weight: bold;
    font-size: 40px;
  }

  .register {
    font-size: 15px;
  }
  
  
  